pkgbase = omakit
	pkgdesc = Read-only preflight for Omarchy Quattro plugin marketplace submissions
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/mtolhuys/omakit
	arch = any
	license = MIT
	depends = nodejs>=22
	depends = git
	optdepends = ttfx: animate the setup wordmark
	source = omakit-0.1.0.tar.gz::https://github.com/mtolhuys/omakit/releases/download/v0.1.0/omakit-0.1.0.tar.gz
	sha256sums = 4e67712babffbaff7940e28b6fd7e0f062d5db7a89c401809f8cf54bedd1cc2b

pkgname = omakit
